body{
    background-color: #f0f0f7 !important;
}
.contaner-root{
    margin: 20px 20px !important;
}
.dashboard{

    color: #43425D;
    opacity: 1;
    font-size: 24px;
    font-weight: bold;
    margin-top: 8px;
}
.mt-20{
    margin-top: 7px;
}

.float-rt{
    float:right ;
}
.my-float-left{
    float: left;
}

// abhi css style code start
// .card_heicht_dashbord{
//   height: 72px;
// }

.carda {
    width: 282px;
    height: 133px;
    background: #ffffff 0% 0% no-repeat padding-box;
  }


  .margbott1{
    margin-bottom: 10px;
  }
  .margtop1{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mar_top1 {
    width: 50%;
    float: left;
    border-radius: 50px;
    margin-right: 19px;
  }

  .spare_text1 {
    letter-spacing: 0px;
    // color: #43425d;
    font-size: 15px;
    // width: 65%;
    font-size: 12px;
    float: left;
    // margin-right: 18%;
    width: 100%;
    position: relative;
    z-index: 1;
    bottom: 8px;
    white-space: nowrap;
    width: 132px;
    overflow-x: hidden;
    text-overflow: unset;
    text-overflow: ellipsis;
    font-weight: bold;
  }
  .date_text1{
    // float: left;
    font-size: 15px;
    letter-spacing: 0px;
    // color: #3cc480;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
  }
  .mar_top2{
    width: 65%;
    float: left;
    border-radius: 50px;
    margin-right: 9px;
  }
  .dragDropHandle{
    // color: lightslategrey;
    float: right;
    position: relative;
    z-index: 9;
    opacity: 0.6;
    // top: -20px;
    // right: 30px;
    top: 1px;
    right: 0px;
}
  .progress_text2{
    font-size: 14px;
    font-weight: bold;
    color: #4d4f5c;
    float: left;
    margin-right: 6%;
  }
  .progress_text3 {
    font-size: 11px;
    font-weight: bold;
    color: #A1A0AE;
    margin-right: 2px;
  }
  .mar_tops {
    width: 70%;
    float: left;
    border-radius: 50px;
    margin-right: 10px;
  }
  .progress_text3 {
    font-size: 11px;
    font-weight: bold;
    color: #A1A0AE;
    margin-right: 2px;
  }

  .signal1 {
    color: #4D4F5C;
    font-weight: bold;
  }
  .buttoncolor{
  background-color: #3B86FF;
  // margin-top: 5px;
  }
.progress-bar-div{
  margin-top: 44px !important;
}
  .devis_card2 {
    background: #ffffff 0% 0% no-repeat padding-box;
    // margin: 11px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    // max-width: 18%;
    // height: 150px;
    padding: 10px 15px 0px 15px;
    margin-bottom: 0px;
    min-height: 112px;
    color: #000000 ;
    margin-top: 5px;
    
	.cardCheckBox {
		float: left;
		padding: 2px 5px 0 0;
	}

}
.my-padding-card{
  padding: 0px 10px;
  overflow-x: hidden;
  overflow-x: hidden;
    height: 112px;
    /* background: red; */
    overflow-y: hidden;
}
.rule-pos{
    position: relative;
    top: -2px;
}
.devis_card3 {
  background: #ffffff 0% 0% no-repeat padding-box;
  // margin: 11px;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  // max-width: 22%;
  // height: 320px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px;
}
.spare_text-bar {
  letter-spacing: 0px;
  color: #43425d;
  font-size: 15px;
  width: 65%;
  font-size: 12px;
  float: left;
  margin-right: 45px;
}
.signalvalue_text1 {
  float: left;
  letter-spacing: 0px;
  // color: #666666;
  font-size: 12px;
  font-weight: 700;
  position: relative;
  bottom: 52px;
    
    .unit_text1{
        font-size: 12px;
        font-weight: 500;
        position: relative;
        letter-spacing: 0px;
        // color: #ff9800;
    }
  }
  .date_text1{
    float: left;
    letter-spacing: 0px;
    // color: #3cc480;
    font-size: 12px;
    position: relative;
    bottom: 45px;

  }
  .date_text_cng{
    bottom: 45px !important;
  }
 .signalvalue_text-cng{
  bottom: 40px !important;
 }
  .signalname_text1{
    float: left;
    letter-spacing: 0px;
    // color: #666666;
    font-size: 11px;
    font-weight: 600;
    position: relative;
    bottom: 58px;
  }


  //flow meter css start
.my-flow-meter-signal-img{
//   width: 200px;
    height: 100px;  
}
.flow-meter-signal-img-div{
  text-align: center;
    // min-height: 233px;
}
  //flow meter css end

  //set flow dashboard start here
  .signal-img-width{
    width: 220px;
    height: 220px;
    }


  //set flow dashboard end here
  //no data css start
  .no-data-card-height{
    min-height: 122px;
  }
  .no-data-text{
    text-align: center;
    /* contain: unset; */
    padding-top: 30%;
    font-size: 22px;
    font-weight: bold;
    color: #000000a1;
  }
  //no data css end

@media only screen and (max-width: 4000px) and (min-width: 599px) {
  .buttoncolor{
    display: block;
  }
  .Select_Devicemobile{
    display: none;
    // height: 62px;
    // position: absolute;
    // border-radius: 55px;
    // right: 0;
    // top: 310px;
    // z-index: 1000;
  }




  .Select_Deviceweb{
    display: block;
      height: 62px;
      position: absolute;
      border-radius: 55px;
      right: 0;
      top: 310px;
      z-index: 1000;

      min-width: 62px;
      transition: 2s;
    }
    .web-select-device-btn{
      height: 62px !important;
      // position: absolute;
      border-radius: 55px !important;
      min-width: 62px;
      transition: 2s;
    }
}
@media only screen and (max-width: 600px) and (min-width: 223px)  {

  .buttoncolor{
    display: none;
  }
  .Select_Devicemobile{
    // height: 62px;
    border-radius: 55px;
    right: 0;
    top: 310px;
    z-index: 1000;
    height: 62px;
    position: fixed;

  }



  .Select_Deviceweb{
    display: none;
      height: 62px;
      min-width: 62px;
      position: absolute;
      min-width: 180px;
      border-radius: 55px;
      right: 0;
      top: 310px;
      z-index: 1000;
      transition: width 2s linear 1s;

    }
    .web-select-device-btn{
      height: 62px !important;
      min-width: 62px;
      // position: absolute;
      border-radius: 55px !important;

    }
}
.bgcolorbutton{
  color: #FFFFFF;
    background-color: #3B86FF;
}
.addhover_class{
  // display: none;
min-width: 180px;
transition: 2s;
animation-delay: 1s;
}
.removehover_class{
  // display: block;
  min-width: 62px;
  transition: 1s;
  }


#HiddenText {
    display: none;
    // transition: width 2s linear 1s;
    transition-duration: 5s;
    animation-delay:5s;
}

#DivForHoverItem:hover #HiddenText {
    display:block;
    // transition: width 2s linear 1s;
    transition-duration: 2s;
    animation-delay:3s;
    height: 62px;
    min-width: 180px;
}
// abhi css style code end

.padding-head{
  padding: 0px 10px;
}

  .mat-menu-content {
  padding-top: 0px !important;
   padding-bottom: 0px !important;
}
button:focus {
  outline: 0px dotted !important;
  outline: 0px auto !important;
}

.my-apply-btn{
  background-color:#3b86ff;
  color:#ffffff;
  width:100%;
  height:40px;
  padding:5px;
  position: relative;
  bottom: -33px;
  border: 1px solid #3b86ff;
  }
.dropdownmenu{
  position: absolute;
  left: 65px;
  top: 24px;
    z-index: 1000;
    /* display: none; */
    // float: left;
    width: 200px;
    min-height: 140px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}
.my-dropdown-css{
  width: 100%;
  padding: 0px 10px;

}
.my-moreoption-icon{
  width: 10%;
  float: left;
}
.card-dots{
  width: 15px;
  position: absolute;
  right: 23px;
  z-index: 9;
  top: 5px;

}
.popup-dots{
  width: 15px;
  position: absolute;
  right: 23px;
  z-index: 9;
  top: 20px;
}
.no-devices{
  font-size: 20px;
    font-weight: 900;
    position: relative;
    top: 200px;
    text-align: center;
}

.guge-pos{
  // position: relative;
  // top: -26px;
  // left: 15%;
  position: relative;
  top: -12px;
  left: 15%;
}
.solid-pos{
  // position: relative;
  //   top: -35px;
  //   left: 7%;
  position: relative;
  top: -22px;
  left: 14%;
}
.float-right{
  float: right;
}
.my-dashboard-title-div-height{
  height: 60px !important;
  padding: 12px !important;
}
.device-select-div{
  position: relative;
    bottom: 5px;
}
.no-pad{
  padding: 0px;
}
::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 0px;
  padding-bottom: 0px;

  }

  .multi-range-cg-pos{
    // position: relative;
    // top: -25px;
    // left: 15px;
    position: relative;
    top: -14px;
    left: 18%;
  }
  .range-custom-cg-pos{
    // position: relative;
    // top: -15px;
    // left: 20px;
    position: relative;
    top: -4px;
    left: 20%;
  }
  .sycn-pointer-pos{
    position: relative;
    top: -14px;
    left: 14%;
  }
  .dial-img-div{
    position: relative;
    top: -20px;
    left: 0%;
  }
  .led-img-div{
    position: relative;
    top: -22px;
    left: 0%;
    text-align: center;
  }
  .number-value-pos{
    // position: relative;
    // top: 0px;
    // text-align: center;
    // line-height: 10vh;
    position: relative;
    top: 15px;
    text-align: center;
    line-height: 10vh;
  }
  // card style popup css start
  .popup-title{
    color: #707070;
    float: left;
}
.delete-popup-close-icon{
  float: right;
  width: 30px;
  position: relative;
  right: -10px;
}
.no-pad{
  padding: 0;
}
.card-style-lable{
  // width: 225px;
  width: 190px;
  font-size: 14px;
  font-weight: 500;
}
.preview-title{
  font-size: 18px;
  color: #707070;
  margin-top: 15px;
  text-align: center;
}

::ng-deep rect{
  fill: #ffffff00 !important;
}

// .popup-content-div{
//   margin-bottom: 25px;
//     margin-top: 25px;
// }
.popup-content-txt{
  color: #3B86FF;
}
.cancel-save-bt-div{
  position: relative;
    top: 25px;
    margin: 0px -24px;
}
// .popup-bottom-btn-div{
//   margin: -24px;
// }
.add-signal-btn-div{
  width: 300px;
  float: right;
}
.delete-popup-cancel-btn{
  width: 50%;
  float: left;
  height: 50px;
    background-color: #FFFFFF;
    color: #707070;
  border-radius: 0px;
  position: relative;
  // bottom: -60px;
  border: 1.5px solid #00000045;
  font-weight: bold;
    opacity: 0.7;
}
.delete-popup-delete-btn{
  width: 50%;
  height: 50px;
  background-color: #3B86FF;
    color: #ffffff;
  border-radius: 0px;
  position: relative;
  // bottom: -60px;
  border: 1.5px solid #3B86FF;
  font-weight: bold;
}
.color-picker-div{
  margin-top: 35px;
}
// .preview-bg-clr{
//   width: 359px;
//   height: 116px;
//   background-color: #265d52;
//   border-radius: 5px;
//   margin: 0 auto;
// }
.preview-font-clr{
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  line-height: 19vh;
}
.margin-auto{
  margin: 0 auto;
}
.threshold-color-div{
  width: 40px;
}
.popup-card{
  box-shadow: 0px 0px 4px 4px rgb(0 0 0 / 7%);
  margin-top: 20px;
}
.pop-card-div-height{
  height: 160px;
}
.solid-pos-in-popup{
  position: relative;
  top: -22px;
  left: 6%;
}
.custom-size-mt-88-popup{
  margin-top: 20px !important;
  margin-bottom: 68px;
}
.led-cg-pos-popup{
  position: relative;
  top: -22px;
  left: 6%;
}
.spedo-cg-pos-popup{
    position: relative;
    top: -14px;
    left: 7%;
}
.dail-cg-pos-popup{
  position: relative;
  top: -24px;
  left: 0%;
}
.progress-bar-div {
  margin-top: 40px !important;
  margin-bottom: 10px;
}
  // card style popup css end
@media only screen and (max-width: 600px) {
  .my-custom-btn{
    float:  left !important;
    margin-left: 12px !important;
  }
  .my-dashboard-title-div-height[_ngcontent-dcc-c19] {
     height: auto !important; 
    padding: 12px !important;
}
.my-mbl-select-device-dropdown-div{
  width: 100% !important;
}
  .my-dashboard-title-div-height{
    height: auto !important;
    padding: 12px !important;
}

.chart-view-dropdown{
  width: 100% !important;
  margin-top: 20px;
  margin-bottom: 10px;

}
  .my-mbl-select-device-btn{
    width: 100% !important;
  }
  .my-mbl-edit-device-btn{
    width: 90% !important;
  }


  .dropdownmenu{
    position: absolute;
    left: 116px;
    top: 24px;
      z-index: 1000;
      /* display: none; */
      // float: left;
      width: 200px;
      min-height: 140px;
      padding: 0.5rem 0;
      margin: 0.125rem 0 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0, 0, 0, 0.15);
      border-radius: 0.25rem;
  }

}

