  
   .example-sidenav-container {
    flex: 1;
  }
  
  .example-sidenav{
    color: #d36423;
  }
  
  .mat-list-item{
    color: black;
    opacity: 0.8;
  }
  
  .mat-drawer{
    opacity: 0.9;
    background:White;
  }
  
  .mat-toolbar {
    opacity: 0.9;
    background: #e51282;
    color: white;
  }
  
  
  .example-toolbar {
      z-index: 2;
  }
  
  .example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  
  