
<div class="contaner-root">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 virtual-scroll-header-alignment padding-head">
            <mat-card class="card_heicht_dashbord my-dashboard-title-div-height">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-9 my-float-left ipad-displayflex">
                    <p class="dashboard float-left">Dashboard</p>
                        <div class="adminRoleSelect float-left ml-5 mbl-width100">
                        </div>
                        <div class="adminRoleSelect float-right ipad-ml2rem mbl-width100">
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-xl-6 col-lg-2 my-float-left ">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 float-rt no-pad" >
                            <button mat-raised-button 
                            class="float-right buttoncolor my-mbl-select-device-btn"  color="primary">
                            Create New Project <mat-icon>library_add</mat-icon>
                        </button>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
<mat-card class="main-mat-card">
    <div class="groupsView row ">
        <!-- [formGroup]=""  -->
        <form class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 no-pad margin-b-5">
            <p class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 my-float-left 
            heading margin-b-5">Existing Projects</p>

            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-float-left">
                <div class="example-form calender-div-pos">
                   <!-- <p>Data will come here</p> -->
                <elpis-rms-daternge-picker [noValidation]="true"  (dateRangeEvent)="customdate($event)"></elpis-rms-daternge-picker>
                  </div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 my-float-left">
                <button mat-raised-button 
                class="float-right buttoncolor my-mbl-select-device-btn example-full-width" color="primary">
                Submit   </button>
            </div>
        </form>


      
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>



          
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>




          
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>







        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>
        <div class="col-sm-3 groupCard" >
            <mat-card matRipple class="cursor-pointer" >
                <div class="groupImgSec"  >
                    <div class="icon-main-div">
                        <mat-icon class="shape3-icon"> touch_app </mat-icon>
                    </div>
                    <mat-card-title title="Elpis" class="groupname">Elpis IT Solutions</mat-card-title>
                </div>
            </mat-card>
        </div>








    </div>
</mat-card>
</div>

<!-- <ngx-loading [show]="groupsLoading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading> -->