//Add device popup css start from here
.add-signal-popup-custom-lable{
	color: #0000008a;
	font-size: 12px;
	margin-top: -12px;
}
.add-signal-popup-custom-lable-alert-required{
	color: #0000008a;
	font-size: 12px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	margin-right: 5px;
}

.example-full-width{  
	width: 100%;
}
.form-fields-div{
	height: 400px;

}
.pad-b-50{
	padding-bottom: 30px;
}
.add-signal-register-btn{
	width: 120px;
	height: 35px;
}
.add-sigal-content-div-scroll{
	max-height: 400px;
    overflow-y: scroll;
}
::ng-deep .mat-dialog-container {
       overflow:  hidden !important;
}
::ng-deep .my-custom-dialog-class {
	mat-dialog-container {
	  padding: 0;
	}
  }
::ng-deep .example-form .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #2e73ef !important;
}
::ng-deep .example-form .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #2e73ef !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #2e73ef !important;
}
::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(46 115 239 / 0.54) !important;
}
.mr-10{
	margin-right: 10px;
}

::ng-deep .mat-slide-toggle.mat-disabled {
    opacity: .38;
    float: left;
    margin-right: 0px;
}

.h-div{
	position: relative;
	top: 0px;
    margin-bottom: 10px;
}
.delete-popup-close-icon{
    float: right;
    width: 30px;
    position: relative;
    right: -10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
.add-device-btn{
    background-color: #3B86FF !important;
}
.add-signal-cancel-btn {
    margin: 0px 30px;
    width: 120px;
    background-color: white !important;
    color: #3b86ff;
    border: 1.5px solid #3b86ff;
    height: 35px;
}

::ng-deep button:focus {
    outline: 0px dotted !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.no-pad{
    padding: 0px;
}
.mr-t-25{
    margin-top: 30px;
}
:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
}
::ng-deep .mat-dialog-container {
    display: block;
    padding: 24px 15px !important;
    border-radius: 4px;
    box-sizing: border-box;
    overflow: auto;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

//delete popup css start from here


.popup-title{
	color: #707070;
    float: left;
}

.delete-popup-cancel-btn{
	width: 50%;
	float: left;
	height: 50px;
    background-color: #FFFFFF;
    color: #707070;
	border-radius: 0px;
	position: relative;
	bottom: -24px;
	border: 1.5px solid #00000045;
	font-weight: bold;
    opacity: 0.7;
}
.delete-popup-delete-btn{
	width: 50%;
	height: 50px;
	background-color: #3B86FF;
    color: #ffffff;
	border-radius: 0px;
	position: relative;
	bottom: -24px;
	border: 1.5px solid #3B86FF;
	font-weight: bold;
}
.popup-content-div{
	margin-bottom: 25px;
    margin-top: 25px;
}
.cpadding{
    padding: 15px;
}
.popup-content-txt{
	color: #3B86FF;
}
.popup-bottom-btn-div{
	margin: -24px;
}
.add-signal-btn-div{
	width: 300px;
	float: right;
}
//delete popup css end here
//details popup css start here
.details-popup-title{
	font-size: 12px;
    color: #000;
    opacity: 0.6;
	font-weight: 500;
	margin-bottom: 3px;
}
.details-popup-data-txt{
	font-size: 14px;
    color: #000;
    opacity: 0.8;
    font-weight: bold;
    margin-bottom: 3px;
}
.thresholdrange-details-color-box{
	padding: 10px 25px 10px 25px !important;
    width: 20px;
    display: inline-block;
    position: relative;
    right: 20px;
}
.thresholdrange-value{
	width: 80px;
    float: left;
    padding-top: 4px;
}

.edit-popup-apply-btn{
    width: 120px;
    float: right;
    color: white;
}

//details popup css end here



@media screen and (max-width: 600px) {
    .add-signal-btn-div{
        width: 100% !important;
    }
    .popup-register-cancel-mbl-btn{
        width: 100% !important;
        margin: 0 !important;
        margin-bottom: 15px !important;
    }
    .details-close-btn-mbl{
        width: 100% !important;
        margin-top: 10px;
    }
}
//Add device popup css end here

.clone-header{
    color: #776767;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    position: relative;
    top: 5px;
  }

  @media screen and (max-width: 425px) 
  {
  .mbl-mb0-p0
{
	margin-bottom:0px !important;
	padding:0px !important;
}
  }


  // mobile lansscape css
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) 
  {
    ::ng-deep .add-sigal-content-div-scroll
    {
        max-height: 220px !important;
    }
    .mbl-mb0-p0
    {
        padding:0px !important;
        margin-bottom: 0px !important;
    }
    .mbl-m0
    {
        margin:0px; 
    }
    ::ng-deep .custom-device-class 
    .mat-dialog-container
  {
    height:300px;
      margin-top: 10px;
  }
  }
  @media only screen 
  and (min-device-width: 769px) 
  and (max-device-width: 992px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    ::ng-deep .custom-device-class 
    mat-dialog-container
    {
        height: 345px;
        margin-top: 10px;
    }
    ::ng-deep .add-sigal-content-div-scroll
    {
        max-height: 270px !important;
    }
    .mbl-m0
    {
        margin:0px; 
    }
  }
  @media only screen 
  and (min-device-width: 667px) 
  and (max-device-width: 737px) 
  //   and (-webkit-min-device-pixel-ratio: 2)
  //   and (orientation: landscape)
  { 
    ::ng-deep  .custom-device-class 
    mat-dialog-container
    {
        height: 300px;
        margin-top: 3rem;
    }
    ::ng-deep .add-sigal-content-div-scroll
    {
        max-height: 227px !important;
    }
    .mbl-m0
    {
        margin:0px; 
    }
  }
