
.number-value{
    // white-space: nowrap;
    // width: 36px;
    // overflow-x: hidden;
    // text-overflow: unset;
    // font-size: 30px;

    font-weight: 500;
    width: 70%;
    margin: 0 auto;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.red-color{
padding-top: 2.5em;
}