<div class="row col-md-12 login-main  my-row">
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6  no-pad login-img">
    <elpis-rms-cover-patch></elpis-rms-cover-patch>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 no-pad">
    <div class="container col-md-8 offset-md-2">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form col-md-12"> 
         <div class="row rowicon ">
            <a href="#">
              <mat-icon matDialogClose class="matic">keyboard_backspace </mat-icon>
            </a>
         </div>
        <div>
          <img class="elpis-logo x-auto d-block" src="assets/images/elpis_logo.png" alt="Card image cap">
        </div>
        <p class="text-secondary">Enter your email and we send you a password reset link.</p>
        <mat-form-field class="form-element">
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
            {{ getErrorEmail() }}
          </mat-error>
        </mat-form-field>
        <div class="form-element registerPage">
          <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Send
            request</button>
        </div>
      </form>
    </div>
  </div>
</div>