// .control-section {
//     min-height: 150px;
// }

.signal-value-div{
    width: 100%;
    float: left;
    position: relative;
 
}
.signal-value{

    position: absolute;
    bottom: 5px;
    left: 115px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;

}
.signal-name-div{
    width: 100%;
    float: left;
    position: relative;
   
}
.signal-name{
    margin-bottom: 0px;
    position: absolute;
    /* top: 48px; */
    font-weight: 600;
    bottom: -21px;
    color: #666666;
}