//font
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
//font
@import "~ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; scroll-behavior: smooth; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-color: #f5f6fa !important;
}
mat-sidenav-content.mat-drawer-content.mat-sidenav-content.ng-star-inserted {
  background-color: #f5f6fa !important;
  overflow-x: hidden;
  min-height: 600px;
}

// abhi style start
.alias {cursor: alias;}
.all-scroll {cursor: all-scroll;}
.auto {cursor: auto;}
.cell {cursor: cell;}
.context-menu {cursor: context-menu;}
.col-resize {cursor: col-resize;}
.copy {cursor: copy;}
.crosshair {cursor: crosshair;}
.default {cursor: default;}
.e-resize {cursor: e-resize;}
.ew-resize {cursor: ew-resize;}
.grab {cursor: grab;}
.grabbing {cursor: grabbing;}
.help {cursor: help;}
.move {cursor: move;}
.n-resize {cursor: n-resize;}
.ne-resize {cursor: ne-resize;}
.nesw-resize {cursor: nesw-resize;}
.ns-resize {cursor: ns-resize;}
.nw-resize {cursor: nw-resize;}
.nwse-resize {cursor: nwse-resize;}
.no-drop {cursor: no-drop;}
.none {cursor: none;}
.not-allowed {cursor: not-allowed;}
.pointer {cursor: pointer;}
.progress {cursor: progress;}
.row-resize {cursor: row-resize;}
.s-resize {cursor: s-resize;}
.se-resize {cursor: se-resize;}
.sw-resize {cursor: sw-resize;}
.text {cursor: text;}
// .url {cursor: url(myBall.cur),auto;}
.w-resize {cursor: w-resize;}
.wait {cursor: wait;}
.zoom-in {cursor: zoom-in;}
.zoom-out {cursor: zoom-out;}

mat-icon.mat-icon.notranslate.mat-list-icon.material-icons.mat-icon-no-color {
  font-family: 'Material Icons Outlined';
}

.pad_0{
  padding: 0px;
}
.mar_0{
  margin: 0px;
}

li.amcharts-amexport-item.amcharts-amexport-item-level-0.amcharts-amexport-item-blank {
  position: relative;
  display: block;
  opacity: 1;
  z-index: 1;
  top: -30px;
  // font-size: 13px;
  right: 10px;
  // border-bottom: 1px solid;
  font-size: 17px;
  background-color: rgb(255 255 255);
  color: rgb(0, 0, 0);
  /* border-radius: 3px; */
  padding: 0;
  margin: 0;
  transition: all 100ms ease-in-out 0s, opacity 0.5s ease 0.5s;
}
ul.amcharts-amexport-menu.amcharts-amexport-menu-level-1 li a {

  color: rgb(0, 0, 0);
  background:#f5f6fa;
}
li.amcharts-amexport-item.amcharts-amexport-item-level-1.amcharts-amexport-item-blank a{
  color: rgb(0, 0, 0);
  background:#f5f6fa;
font-size: 12px;
}
ul.amcharts-amexport-menu.amcharts-amexport-menu-level-1 li a {
  color: black;
  background: #f5f6fa;
  font-size: 12px;
}
ul.amcharts-amexport-menu.amcharts-amexport-menu-level-1 li a:hover {

  color: rgb(0, 0, 0);
  background:#b4c2f8;
  font-size: 12px;
}
li.amcharts-amexport-item.amcharts-amexport-item-level-1.amcharts-amexport-item-blank a:hover{
  color: rgb(0, 0, 0);
  background:#b4c2f8;
  font-size: 12px;
}
li.amcharts-amexport-item.amcharts-amexport-item-level-0.amcharts-amexport-item-blank {
  font-size: 28px;
}
text.highcharts-credits {
  display: none;
}
#container {
  height: 400px;
}

.gm-style .gm-style-iw-c {    
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
  transform: translate(-50%,-100%);
  background-color: white;
  border-radius: 8px;
  padding-left: 26px !important;
  padding: 36px;
  box-shadow: 0 2px 7px 1px rgba(0,0,0,0.3);
}

button.gm-ui-hover-effect {
  background: none;
  display: block;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: absolute;
  cursor: pointer;
  user-select: none;
  top: 0px !important;
  right: 0px !important;
  width: 41px !important;
  height: 38px !important;
}

//below css is effecting to map start

// .gm-style img {
//   max-width: 55px;
//   pointer-events: none;
//   display: block;
//   width: 55px !important;
//   height: 24px !important;
//   margin: 4px !important;
// }
//top css is effecting to map end

::ng-deep .material-icons {
  font-family: 'Material Icons' !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal !important;
  direction: ltr;
  -webkit-font-feature-settings: 'liga' !important;
  -webkit-font-smoothing: antialiased;
}

.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background, .mat-checkbox-checked.mat-primary .mat-checkbox-background {
  background-color: #3b86ff;
}
// abhi style end
.bluepatch
{
  width: 100%;
  height: 801px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.note {
  position: absolute;
  opacity: 0.7;
  font-size: 12px;
  font-family: sans-serif;
  color: #737373;
  text-indent: 1em;
}

.mat-menu-panel.pointer {
  border: solid;
  border-color: rgb(231, 52, 52);
    min-height: 60px;
    // margin-left: -50px;
    margin-right: -70px;
    margin-top: 16px;
    max-width: 310px;
    
}
.virtual-scroll-header-alignment{
  margin-top: 60px;
}
.virtual-scroll-header-alignment-select-device{
  margin-top: 80px;
}
.virtual-scroll-header-alignment-device{
  margin-top: 80px;
}
.grid-5-virtual-scroll-header-alignment{
  margin-top: 50px;
}
// .mat-menu-panel.pointer:before{
//   display: none;
// }
// .mat-menu-panel.pointer:after {
//   content: "";
//   position: absolute;
//   box-shadow: rgb(224, 11, 11) 2px 2px 2px ;
//   -moz-transform: rotate(45deg);
//   -webkit-transform: rotate(225deg);
//   top: 10px;
//   left: -2%;
//   border-width: 10px;
//   border-style: solid;
//   border-color: transparent #FFF #FFF transparent;

// }


